<h1><%= @hack.title %></h1>
<h3>Hacker: <%= link_to @hack.user.username, @hack.user %></h3>
<h3>Destination: <%= @hack.destination.str_addr_fields %></h3>
<br>
<%= @hack.content %>
<br>


<p><%= @hack.likes.count %> <%= (@hack.likes.count) == 1 ? 'Like' : 'Likes'%></p>



<% pre_like = @hack.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', like_path(@hack, pre_like), method: :delete, params: {:like => {:user_id => current_user.id, :hack_id => @hack.id}} %>
<% else %>
  <%= button_to 'Like', hack_likes_path(@hack), method: :post, params: {:like => {:user_id => current_user.id, :hack_id => @hack.id}} %>
<% end %>



<h4><%= button_to "Edit Hack", edit_hack_path, :method => :get %></h4>

