<h1><%= @hack.title %></h1>
<h3>Hacker: <%= @hack.user.username %></h3>
<h3>Destination: <%= @hack.destination.str_addr_fields %></h3>
<br>
<h4><%= button_to "Edit Hack", edit_destination_hack_path, :method => :get %></h4>
<br>
<%= @hack.content %>
