<h1><%= @user.name %></h1>
<% if logged_in? %>
  <%= button_to "#{@user.passive_relationships.count} Followers", user_follows_path(@user), params: {relationship: "Followers"}, :method => :get %>
  <%= button_to "#{@user.active_relationships.count} Following", user_follows_path(@user), params: {relationship: "Following"}, :method => :get %>
<% end %>
<br>
<%= @user.username %>
<br>
<%= @user.location %>
<br>
<%= @user.bio %>
<br>
<%= "Age: #{@user.age}" %>
<br>

<% if logged_in? && current_user == @user %>
  <%= button_to "Edit Profile", edit_user_path, method: :get %>
<% end %>


<% if logged_in? && current_user != @user %>
  <% pre_follow = @user.passive_relationships.find_by(follower_id: current_user.id) %>
  <% if pre_follow %>
    <%= button_to "Followed", follow_path(pre_follow), :method => :delete %>
  <% else %>
    <%= button_to "Follow", user_follows_path(@user), :method => :post %>
  <% end %>
<% end %>

<h3><%= @user.name %>'s Top Hacks</h3>
<% @user.top_five.each do |hack| %>
  <p><%= link_to hack.title, hack %>, <%= hack.destination.str_addr_fields %>, <%= hack.likes.count %> Likes</p>
<% end %>


<h3><%= @user.name %>'s Hacks</h3>
<% @user.hacks.each do |hack| %>
  <p><%= link_to hack.title, hack %>, <%= hack.destination.str_addr_fields %></p>
<% end %>


