<h1><%= @user.username %></h1>
<%= @user.name %>
<br>
<%= @user.location %>
<br>
<%= @user.bio %>
<br>
<%= "Age: #{@user.age}" %>
<br>

<% if logged_in? && current_user == @user %>
  <%= button_to "Edit Profile", edit_user_path, method: :get %>
<% end %>

<% @user.hacks.each do |hack| %>
  <h3><%= hack.destination.str_addr_fields %></h3>
    <p><%= hack.content %><p>
<% end %>

<%# **create button to link out to destinations/index %>
<h3>Check Out Destinations and Add Your Hacks</h3>

<%= button_to 'Destinations', destinations_path, method: :get %>
<br>

