<h1><%= @destination.str_addr_fields %></h1>

<h4><%= button_to "Add a New Travel Hack", new_destination_hack_path(params[:id]), :method => :get %></h4>

<h3>Travel Hacks</h3>
<% @destination.hacks.each do |hack| %>
  <p><%= hack.category %></p>
  <p><%= hack.title %></p>
  <p><%= hack.content %></p>
  <p>Submitted by <%= hack.user.name %></p>
<% end %>


  

  