<h1><%= @destination.str_addr_fields %></h1>

<h3>Travel Hacks</h3>
<% @destination.hacks.each do |hack| %>
  <p><%= hack.category %></p>
  <p><%= hack.title %></p>
  <p><%= hack.content %></p>
  <p>Submitted by <%= hack.user.name %></p>
<% end %>


  <h3>Add a New Travel Hack</h3>

  <%= form_for @hack do |f| %>
    <div>
      <%= f.label :category %>
      <%= f.select(:category, @categories) %>
    </div>
      <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
      <div>
    <%= f.submit %>
  <% end %>






